{% extends "rest_framework/base.html" %}
{% load i18n %}

{% block branding %}
    <a class="navbar-brand" rel="nofollow" href="{% url 'api-books' %}">Library Manager API</a>
{% endblock %}

{% block bootstrap_theme %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/minty/bootstrap.min.css" integrity="sha384-H4X+4tKc7b8s4GoMrylmy2ssQYpDHoqzPa9aKXbDwPoPUA3Ra8PA5dGzijN+ePnH" crossorigin="anonymous">
{% endblock %}

{% block title %}
Library Manager API
{% endblock %}
