{% extends "catalog/base.html" %}

{% load static %}

{% block title %}
API
{% endblock %}

{% block content %}

<section class="page-section m-5">
    <div class="container">
        <div class="jumbotron">
            <h2 class="mb-4">API</h2>
            <p class="lead">Info about usage</p>
            <hr class="my-4">
            <p>You can perform a book search by sending an HTTP GET request to the following URI:</p>
            <p><code>{{ request.scheme }}://{{ request.get_host }}{% url 'api-books' %}</code></p>
            <h3 class="mb-4">Allowed parameters:</h3>
            <ul class="list-group">
                <li class="list-group-item">title</li>
                <li class="list-group-item">author</li>
                <li class="list-group-item">start_date</li>
                <li class="list-group-item">end_date</li>
                <li class="list-group-item">language</li>
            </ul>
            <p class="card-text">Example:</p>
            <p><code>{{ request.scheme }}://{{ request.get_host }}{% url 'api-books' %}?title=rich&author=david&start_date=2010&end_date=2015&language=english</code></p>
            <p class="card-text">If the request succeeds, the server responds with a 200 OK HTTP status code with the results in JSON:</p>
            <p><code>{
                "count": 1,
                "next": null,
                "previous": null,
                "results": [
                    {
                        "title": "Richer Than God",
                        "authors": [
                            "David Conn"
                        ],
                        "pub_date": "2012",
                        "isbn": "9780857386809",
                        "pages_num": 432,
                        "cover": "{{ request.scheme }}://{{ request.get_host }}/media/covers/RicherThanGod.jpg",
                        "language": "English"
                    }
                ]
            }</code></p>
            <a class="btn btn-primary btn-lg" href="{% url 'api-books' %}" role="button">API</a>
            <a href="{% url 'catalog' %}" class="btn btn-outline-secondary" role="button">Go back</a>
        </div>
    </div>
</section>

{% endblock %}