{% extends "catalog/base.html" %}

{% load static %}

{% block title %}
Google Books
{% endblock %}

{% block content %}

<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 m-4">
                <div class="border border-light p-4">
                    <h2 class="mb-4">Search in Google Books</h2>
                    <form method="post" class="mb-4">
                        {% csrf_token %}
                        {% include 'catalog/includes/form.html' %}
                        <button type="submit" class="btn btn-success">Search</button>
                        <a href="{% url 'google-search' %}" class="btn btn-outline-secondary" role="button">Erase</a>

                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col mx-auto">
                <div class="py-5">
                    <h2 class="mb-4">List of Google Books</h2>
                    {% if google_books %}
                    <div class="table-responsive">
                        <table class="table table-striped table-hover mb-4" id="orderitems-table">
                            <thead class="thead-inverse">
                                <tr>
                                    <th>Cover</th>
                                    <th>Title</th>
                                    <th>Authors</th>
                                    <th class="text-right">Date</th>
                                    <th class="text-right">ISBN</th>
                                    <th class="text-right">No pages</th>
                                    <th class="text-right">Language</th>
                                    <th>Import</th>
                                </tr>
                            </thead>
                            <tbody id="js-search-append">
                                {% include 'catalog/includes/partial_importitem_list.html' %}
                            </tbody>
                        </table>
                    </div>
                    <form action="{% url 'google-search' %}" method="post" id="js-load-more">
                        {% csrf_token %}
                        <input type="hidden" name="page" value="2" id="js-page">
                        <input type="hidden" name="form-values" value="{{ form_values }}">
                        <input type="hidden" name="start-index" id="js-index" value="{{ start_index }}">
                        <button id="js-load-button" class="btn btn-primary" type="submit">
                            <span id="js-load-spinner" class="spinner-border spinner-border-sm" role="status" style="display: none;"></span>
                            Load more
                        </button>
                    </form>

                    {% else %}
                    <div class="row mt-5">
                        <div class="col">
                            <p>No results.</p>
                        </div>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}